body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 4, 207);
}

h1 {
    text-align: center;
}

form {
    background-color: #ffffff;
    width: 300px;
    margin:  50px auto;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2b6cb0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:  #2c5282;
}