<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Help Desk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Dashboard - Help Desk</h1>

    {% if session.is_admin %}
        <p><strong>Perfil:</strong> Administrador</p>
    {% else %}
        <p><strong>Perfil:</strong> Usuário</p>
    {% endif %}


    <p>Bem-vindo ao sistema de chamados!</p>

    <h3>Meus chamados</h3>

    {% if tickets %}
        <ul>
            {% for ticket in tickets %}
                <li>
                    <strong>{{ ticket[1] }}</strong><br>
                    {{ ticket[2] }}<br>

                    <small>
                        Criado por: {{ ticket[5] }}<br>
                        Criado na data: {{ ticket[4] }}
                    </small><br>

                    <em>Status: {{ ticket[3] }}</em><br>

                    {% if session.get('is_admin') %}
                        <a href="{{ url_for('update_status', ticket_id=ticket[0], status='Em andamento') }}">
                            Em andamento
                        </a> |
                        <a href="{{ url_for('update_status', ticket_id=ticket[0], status='Fechado') }}">
                            Fechar
                        </a> |
                        <a href="{{ url_for('delete_ticket', ticket_id=ticket[0]) }}"
                        onclick="return confirm('Deseja excluir este chamado?');">
                            Excluir
                        </a>
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você ainda não criou nenhum chamado.</p>
    {% endif %}

    <br>

    <a href="{{ url_for('create_ticket') }}">Criar novo chamado</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>

</body>
</html>
